* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Oswald', sans-serif;
}

nav, footer {
    background-color: black;
    color: white;
    padding: 1% 0;
}

/* nav section */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}

.name {
    height: 40px;
    margin-top: 20px;
    padding-left: 40px;
}

ul {
    list-style: none;
    padding-right: 40px;
}

li {
    display: inline-block;
    padding-right: 10px;
}

/* header section */
header {
    padding: 12% 0;
}

section {
    min-height: 200px;
    background-color: rgb(238, 238, 238);
    padding: 6% 0;
}
